@charset "UTF-8";
body {
	font-family: 'Roboto Slab', serif;
    background: url(../images/bg-2.jpg) no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-size: cover;
      color: #ed1c24;
}

a, a:link {
	color: #ed1c24;
	text-decoration: none;
}

a:hover {
	color: #962816;
}

nav {
	font-family: 'Roboto Slab', serif;
	margin-top: 40px;
	font-size: 1.2em;
}

.logo {
	display: block;
	margin: 0 auto;
	background: rgb(255, 251, 237);
	max-width: 300px;
	padding: 30px;
	margin-top: -60px;
}

.invest {
	background-color: red;
	position: absolute;
	top: 0;
	right: 2%;
	padding: 5px 10px;
	border-radius: 3px;
	z-index: 9999;
}

.invest a {
	color: #fff;
}

.invest a:hover {
	color: #fff;
	text-decoration: underline;
}

.order-online {
	background-color: #ed1c24;
}

.order-online a {
    color: #fff !important;
}

.text-white {
	color: #fff;
}

.text-brown {
	color: #795300;
}

.brown-divider {
	height: 2px;
	background-color: #795300;
	border: none;
}

.merch img {
	border: 2px solid #795300;
}

.merch .col-md-4 {
	margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
	.navbar-collapse {
		padding-top: 80px;
	}
	}

.carousel {
	margin-top: 50px;
}

.phone {
	font-size: 50px;
	letter-spacing: 4px;
	
}

.bar-1 {
    background: rgba(255, 251, 237, 0.8);
    padding: 20px;
    text-align: center;
	color: #000;
	letter-spacing: 1px;
	margin: 20px auto;
}

.bar-2 {
    background: rgba(255, 251, 237, 0.8);
    padding: 20px;
    border-top: 6px solid #795300;
    border-bottom: 6px solid #795300;
    text-align: center;
	color: #795300;
	letter-spacing: 1px;
	margin: 20px auto;
}

.nye {
	border: 5px solid #ed1c24;
	display: block;
	margin: 20px auto;
	max-width: 900px;
	width: 100%;
    height: auto;
}

.nye-btn {
	border: 5px solid #fff;
	color: #FFF !important;
	text-decoration: none !important;
	text-align: center;
	letter-spacing: 1px;
	margin: 20px auto;
	max-width: 1200px;
	font-size: 2em;
	background-color: #ed1c24;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.container a:hover {
	text-decoration: none;
}

.nye-btn:hover {
	background-color: #962816;
	border: 5px solid #fff;
	text-decoration: none !important;
}

.email {
	word-break: break-all;
}

.menu h1 {
	text-align: center;
	color: #fff;
}

#success_message{ display: none;}

.events {
	margin-top: 60px;
}


/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.vip-header {
	display: block;
	margin: 10px auto;
	color: #ed1c24;
	text-transform: uppercase;
	border: 4px solid red;
	max-width: 600px;
	padding: 4px 0;
}

.vip-list {
	list-style-type: none;
}

.btn {
    border-radius: 0;
    font-size: 20px;
    padding: 9px 23px;
    }

.vip-btn {
    border: 1px solid red;
    background-color: white;
}

.indicates-required, .asterisk {
	color: #ed1c24;
	font-size: 0.8em;
}

#mc_embed_signup {
	text-align: center;
	border: 4px solid red;
	max-width: 350px;
	display: block;
	margin: 10px auto;
	padding: 15px;
}

#mc_embed_signup input {
	border: 1px solid #000;
}

/*#mc_embed_signup input[type=email] {
	width: 400px;
}*/

.mc-field-group {
	padding: 3px 0;
}

.submit-button {
	background-color: #ed1c24;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	margin: 10px 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Modal Popup Styles */
	
	#hover{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6;
  z-index: 9997;
  margin-top: -40px;
}

#popup{
  position:absolute;
  max-width:600px;
  max-height:436px;
  background:#fff;
  left:50%;
  top:50%;
  /*border-radius:5px;*/
  padding: 0;
  margin-left:-320px; /* width/2 + padding-left */
  margin-top:-150px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #000;
  z-index: 9998;
}

#popup img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
	margin: 0 auto;
}

#close{
  position:absolute;
  background:white;
  color:black;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
  z-index: 9999;
}

.signup-popup {
	background-color: #fff;
	width: 100%;
	padding: 25px 50px;
}

.popup-btn {
	background-color: red;
	color: #fff;
	font-size: 1.4em;
	padding: 15px 20px;
}

.popup-btn:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

#popup a:hover {
	text-decoration: none;
}



@media (max-width : 768px) {

#popup{
  position:relative;
  max-width:600px;
  max-height:336px;
  background:#fff;
  left:0;
  top:60px;
  padding: 0 ;
  margin-left: 5px; /* width/2 + padding-left */
  margin-right: 5px;
  margin-top:0; /* height/2 + padding-top */
}

#close{
  z-index: 9999;
}

}

/* End Modal Popup Styles */

.catering-form {
	    padding: 15px;
    }
    
    .catering-form h3 {
	    color: #795300;
	    padding-bottom: 15px;
    }
    
    .catering-form .catering-field {
	    display: block;
	    margin: 10px auto;
	    border: 1px solid #795300;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .contact-message {
	    display: block;
	    margin: 10px auto;
	    border: 1px solid #795300;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .form_label {
	    text-align: center;
	    color: #795300;
    }
    
    .catering-form .disclaimer {
	    font-style: italic;
	    font-size: 0.75em;
	    color: #795300;
    }
    
    .catering-button {
	    background-color: #ed1c24;
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 3px 20px;
	    letter-spacing: 1px;
	    border: none;
	    font-size: 1.2em;
    }
    
    .catering-button:hover {
	    background-color: #fff;
	    color: #000;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 3px 20px;
	    letter-spacing: 1px;
	    border: none;
    }
    
    @media (max-width:768px) {
	    .catering-form input {
		    width: 100%;
	    }
	    .catering-button, .catering-form select {
	    display: block;
	    margin: 10px auto;
    }
    
    .catering-form .form_label, .catering-form .disclaimer {
	    text-align: center !important;
	    }
	    }
